
header {
 display: flex;
 align-items: center;
 font-weight: bold;
 font-family: verdana;
 font-size: 14px;
}

header  span {
 display: inline-block;
 margin-left: 10px;
}

nav a {
 display: inline-block;
 color: black;
 text-align: justify;
 margin-right: 10px;
}

.content {
display: flex;
width: 1232px;
margin: 0 auto 78px auto;
padding-top: 116px;
}

.logo {
color: mediumaquamarine;	
display: flex;
align-items: center;
flex-grow: 1;
padding-left: 20px;
border: 1px solid black;
}

.column-large {
 width: 630px;
}

.mother {
background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
height: 300px;
color: white;
font-size: 20px;
font-weight: bold;
text-align: center;
font-family: Georgia;
display: flex;
width: 630px;
}


.narrative {
 margin-top: 16px;
 font-family: Georgia;
 font-size: 17px;
 color: black;
 }

.stories {
 display: flex;
 justify-content: space-between;
 margin-top: 17px;
}








.column-medium {
 width: 300px;
}



}

.column-small {
width: 240px;
}


